tokenizers==0.19.1
torch==2.5.1
transformers>=4.39.0
tensorflow==2.18.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
tf_keras==2.18.0
keras==3.5.0
keras-models==0.0.7
Keras-Preprocessing==1.1.2
numpy>=1.26.4
urllib3==2.2.2
urwid==2.6.15
tqdm>=4.66.0
colorama>=0.4.6
psutil>=5.9.0
beautifulsoup4>=4.12.3
browser-cookie3==0.19.1
colorama==0.4.6
huggingface-hub==0.24.6
pandas==2.2.2
requests==2.32.3
scikit-learn==1.5.1
selenium==4.26.1